<div class="container">
    <div class="card text-white bg-info mb-3" style="max-width: auto;">
        <div class="card-header text-center">
            <h3>SOLICITUD DE SERVICIO DE TRANSPORTE</h3>
        </div>
    </div>
    <hr>
    
    <!--form #f="ngForm" novalidate (ngSubmit)="solicitarST()"-->
    <div class="form-group">
        <mat-form-field class="form-control">
        <input matInput
                placeholder='Nombre de usuario o remitente'
                [(ngModel)]="this.servicios.selectedSC.remitente" 
                required/>
        </mat-form-field>
    </div>
    <br>
    <div class="form-group">
        <mat-form-field class="form-control">
            <input matInput placeholder="Destinatario"
                    [(ngModel)]='this.servicios.selectedSC.destinatario'
                    required/>
        </mat-form-field>
    </div>
    <br>
    <div class="form-group">
        <mat-form-field class="form-control">
            <input matInput placeholder="Destino (Dirección completa)"
                    [(ngModel)]='this.servicios.selectedSC.destino'
                    required/>
        </mat-form-field>
    </div>
    <br>
    <hr>
    <h5 class="text-center">FECHA DE ENTREGA DEL SERVICIO</h5>
    <div class="form-group">
        <mat-form-field class="form-control">
            <input matInput [matDatepicker]="picker" [(ngModel)]='this.servicios.selectedSC.entrega'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <br>
    <div class="form-group">
        <mat-radio-group class="form-control" [(ngModel)]='this.servicios.selectedSC.tCorrespondencia' required>TIPO DE SERVICIO:&nbsp;&nbsp;
            <mat-radio-button value="OFICIOS, SOBRES, CARTAS, IMPRESOS, TARJETAS">OFICIOS, SOBRES, CARTAS, IMPRESOS, TARJETAS</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="ENGARGOLADO">ENGARGOLADO</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="OTROS">OTROS</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="form-group">
        <mat-form-field class="form-control">
            <input matInput [(ngModel)]='this.servicios.selectedSC.cantidad'
                    type="text" placeholder='Cantidad' required/>
        </mat-form-field>
    </div>
    <br><br>
    <div class="form-group">
        <mat-radio-group class="form-control" [(ngModel)]='this.servicios.selectedSC.formaEnvio' required>FORMA DE ENVÍO:&nbsp;&nbsp;
            <mat-radio-button value="PROPIO">PROPIO</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="CORREO ORDINARIO">CORREO ORDINARIO</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="MENSAJERÍA ESPECIALIZADA">MENSAJERÍA ESPECIALIZADA</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="form-group">
        <mat-radio-group class="form-control" [(ngModel)]='this.servicios.selectedSC.tEnvio' required>TIPO DE ENVÍO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="URGENTE">URGENTE</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value="ORDINARIO">ORDINARIO</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="form-group">
        <mat-radio-group class="form-control" [(ngModel)]='this.servicios.selectedSC.anexo' required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿ANEXO?:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value='true'>SI</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button value='false'>NO</mat-radio-button>
        </mat-radio-group>
    </div>
    <br>
    <div class="form-group">
        <mat-form-field class="form-control">
            <textarea matInput
                    placeholder="Información adicional"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="5"
                    [(ngModel)]='this.servicios.selectedSC.infAd'></textarea>
        </mat-form-field>
    </div>
    <br>
    <div class="d-grid gap-2">
        <button class="btn btn-lg btn-outline-info btn-block" (click)="guardar()">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>